In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('data.db')

In [5]:
sql = """
SELECT
    channel_id, DATE(ts_utc) AS date, subscriberCount, viewCount, videoCount
FROM youtube_channels_daily
ORDER BY channel_id, date
"""

In [6]:
pd.read_sql(con=con, sql=sql)

,channel_id,date,subscriberCount,viewCount,videoCount
0,UC--47fBfeNHJ7jmpmAkjUdA,2023-05-23,16900,4016221,245
1,UC--47fBfeNHJ7jmpmAkjUdA,2023-05-24,16900,4016309,245
2,UC--E0W4JrmRy88txTErQYuw,2023-05-23,41700,4389495,28
3,UC--E0W4JrmRy88txTErQYuw,2023-05-24,41700,4390517,28
4,UC--QN7syH6Tj_9jVWhLshzQ,2023-05-23,29700,5916629,223
...,...,...,...,...,...
59494,UCzzVUde44MyJgFhwRc1iiFA,2023-05-24,182000,67979805,1322
59495,UCzzc7SLnY7tJRLHlNfRtjow,2023-05-23,5850,532646,16
59496,UCzzc7SLnY7tJRLHlNfRtjow,2023-05-24,5850,532655,16
59497,UCzzp8nUXv2_MdhH118KFUtQ,2023-05-23,365000,113304381,532
59498,UCzzp8nUXv2_MdhH118KFUtQ,2023-05-24,365000,113345164,532